// loader 


.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 20px;
  height: 20px;
  background-color: @blue;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.control-group {
  margin-bottom: 20px;
  position: relative;
}

legend + .control-group {
  margin-top: 18px;
  -webkit-margin-top-collapse: separate;
}

.extended.form-horizontal .msg .text {
  width: 559px;
}

.single-row-text-area .msg em{
  display: none !important;
}

.form-fixed-width {
  width: 175px;
  .k-dropdown-wrap {
    width: 175px;
  }
}

.k-dd-blue {
  .k-input {
    background-color: @rme_theme;
    color: #FFF;
    border: none;
    border-radius: 2px;
    height: 39px;
    padding: 10px 9px 9px 10px;
    webkit-transition: background 0.5s ease-out;
    transition: background 0.5s ease-out;
    &:hover {
      background-color: @blue_btn_hover;
    }
    .k-list {
      background-color: @rme_theme;
    }
  } 
  .k-i-arrow-s {
    text-indent: 0px;
  }
  .k-icon {
    background-image: none;
    &:before {
      position: absolute;
      font-family: 'FontAwesome';
      content: "\f078";
      color: #FFF;
      right: 6px;
      top: 0;
      font-size: 11px;
      margin-top: -7px;
    }
  }

}

.optional-field {
  font-size: 12px;
  font-family: helvetica,arial;
  font-style: italic;
  color: #E85656;
  font-weight: normal;
  letter-spacing: .7px;
}

label .lbl-long-desc {
  line-height: 151%;
  margin-top: -4px;
}

label.-fs13 {
  font-size: 13px;
}

.input-full-width {
  width: 100%;
}

.form-global-error {
  text-align: center;
  padding: 10px;
  display: none;
  background: #EEEEEE;
  color: #FF6357;
  font-weight: bold;
}
.add-owner-typehead-result-name {
  padding: 10px;
  background-image: url("../images/misc.png");
  background-position: 1px 1px;
  background-repeat: no-repeat;
}
.ui-datepicker-trigger {
  display: none;
}
.hasDatepicker {
  background: url('../images/calendar-btn.png') right 6px center no-repeat;
  cursor: pointer;
}

.inspection-sched-row {
 background-image: url('../images/field-border-bottom.png'); 
 background-position: bottom;
 background-repeat: repeat-x;
 background-color: #F5F5F5;
 padding: 14px;
}
.inspection-sched-row.header {
  color: #565656;
  font-weight: bold;
}

.inspection-sched-row .inside-row figure {
  float: left;
}
.inspection-sched-row .inside-row figure.col2 {
  width: 40%;
}

.inspection-sched-row .inside-row figure.col1{
  width: 40%;
}
.inspection-sched-row .inside-row figure.col3{
  float: right;
}
.inspection-sched-row .inside-row.compacted figure.col3, .inspection-sched-row .inside-row figure.col1{
  float: none;
  display: inline-block;
  
}
.input-append.date {
  position: relative;
}
.inspection-container  .controls {
  margin-left: 0px;
}

.inspection-container {
  margin: 40px 0 18px 0px;
  width: 95%;
}
.input-append.date .ui-datepicker-trigger {
  right: 36px;
  z-index: 100;
}
.inspection-container .control-group{
 background: none;
 padding: 0;
 margin-bottom: 6px;
}


.inspection-container .msg {
  display: none
}



.inspection-container td {
  border: none;
  padding: 8px 0;
} 

.inspection-time {
  .controls {    
    &:last-child {
     margin-right: 0px;
    }
    .controls {
      float: left;
      margin-right: 7px;
    }
  }
}


.controls-popover-float {
  position: relative;
  .tooltip-blue {
    position: absolute;
    top: 0;
    right: 0px;
  }
}

.ins-label {
  font-size: 17px;
  margin-right: 10px;
  padding-top: 10px;
}
td.inspection-add-date {
  border-bottom: 1px solid #EEE;
}
.add-property-btn {
  text-align: right;
  margin: 20px 20px 20px 0;
}
.inspection-length {
  position: relative;
}

.inspection-schedule-table {
  font-size: 14px;
  width: 100%;
  margin-bottom: 18px;
  margin-top: 33px;
}
.inspection-schedule-table tr{
 background: url('../images/field-border-bottom.png') bottom repeat-x;
}
.inspection-schedule-table tr td{
  padding: 10px 0;
}

.form-features-items .features-item{
  float: left;
  width: 198px;
}
.advertising-contact-person-form {
  width: 590px;
  .msg { display: none; }
}

.advertising-contact-person-info {
  display: none;
}

.property-property-features {
  width: 600px;
}

input.save-btn {
  display: none;
}

.btn-container {
  background-color: #FBFBFB;
  border-bottom: 1px solid #F1F1F1;
  min-height: 61px;
  text-align: right;
  padding-right: 16px;
  padding-top: 13px;
  position: relative;
}
.btn-container .info{
  position: absolute;
  top: 10px;
  font-size: 14px;
  left: 27px;
  color: #979797;
  text-align: left;
}
.btn-container.bottom {
  border-bottom: none;
  border-top: 1px solid #f1f1f1;
}

#suburb_listbox li {
  font-size: 12px;
}

#suburb-list .k-state-focused{
  color: #FFF;
  text-decoration: none;
  background-color: #1AAAD5;
}

.onoffswitch {
    position: relative; width: 136px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid transparent; border-radius: 28px;
   background-color: #E24C4C;
    margin-bottom: 0;
}

.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 58px; padding: 0; line-height: 58px;
    font-size: 24px; color: white;  font-weight: normal;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.sw_small.onoffswitch .onoffswitch-inner:before, 
.sw_small.onoffswitch .onoffswitch-inner:after {
  height: 49px;
  line-height: 55px;
  font-size: 21px;
}

.sw_small.onoffswitch .onoffswitch-switch {
  width: 56px;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 15px;    
    text-align: left;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 15px;
    text-align: right;        
}

.onoffswitch-switch {
    width: 62px;
    margin: -1px;
    background: #FFFFFF;
    border-radius: 50%;
    position: absolute; top: 0; bottom: 0; right: 82px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0px;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: -1px;
}

.onoffswitch-checkbox:checked + .onoffswitch-label {
    margin-left: 0px;
    background-color: #21CD62;
}

.onoffswitch-checkbox:checked[disabled] + .onoffswitch-label,
.onoffswitch-checkbox[disabled] + .onoffswitch-label {    
    background-color: #B8B8B8;
    cursor: default;
    opacity: 0.6;
}


.ui-switch {
  display: inline-block;
    .onoffswitch {
      position: relative; width: 105px;
      -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    }
    .onoffswitch-checkbox {
      display: none;
    }
    .onoffswitch-label {
      display: block; overflow: hidden; cursor: pointer;
      border: 1px solid #eee; border-radius: 50px;
      margin-bottom: 0px;
      background-color: transparent;
    }
    .onoffswitch-inner {
      display: block; width: 200%; margin-left: -100%;
      -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
      -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
    }
    .onoffswitch-inner:before, .onoffswitch-inner:after {
      display: block; float: left; width: 50%; height: 38px; padding: 0; line-height: 38px;
      font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
      -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    }
    .onoffswitch-inner:before {
      content: "ON";
      padding-left: 12px;
      background-color: @green; color: #FFFFFF;
    }
    .onoffswitch-inner:after {
      content: "OFF";
      padding-right: 12px;
      background-color: #EEEEEE; color: #999999;
      text-align: right;
    }
    .onoffswitch-switch {
      display: block; width: 30px; margin: 6px;
      background: #FFFFFF;
      border: 1px solid transparent; border-radius: 50px;
      position: absolute; top: 0; bottom: 0; right: 63px;
      -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
      -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
      margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
      right: 0px; 
    }
}


.stat-sd  {
  border: 1px solid #A0A0A0;
  height: 30px;
  width: 30px;
  display: inline-block;
  border-radius: 50%;
  margin: 10px;
}

.on-stat {
  background-color: #21cd62;
  float: left;  
  visibility: hidden;
}

.off-stat {
  background-color: #cd1818;
  float: right;
  visibility: hidden;
}

.stat-label {
  position: absolute;
  top: 15px;
  font-size: 24px
}

.on-label-stat {
  right: -231px;
  width: 200px;
}

.off-label-stat {
  left: -244px;
  text-align: right;
  width: 214px;
}

.collapsible-forms {
  margin: 10px;

  .medium-header h3 {
    margin: 0px;
    .optional-label {
      font-size: 15px;
    }
  }
  .collapse-ad {
    padding: 18px 22px;
    display: block;
    cursor: pointer;
    color: @rme_theme;
  }

  .collapse-ad:hover {
    color: #4BC7F1;
  }

  .collapsed {
    color: #666;
    &:hover {
      .colpd-icons{
        background-position: -2px -56px;  
      }
    }
    &.btn {
      color: #FFF;
    }

  }

  .medium-items {
    margin-left: 0;
    padding: 20px 31px 10px 31px;
  }
}