/* line 4, /home/bryan/Public/rme.local/assets/less/sme-theme.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bryan\/Public\/rme\.local\/assets\/less\/sme-theme\.less}line{font-family:\000034}}
a {
  color: #39b44a;
}
/* line 6, /home/bryan/Public/rme.local/assets/less/sme-theme.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bryan\/Public\/rme\.local\/assets\/less\/sme-theme\.less}line{font-family:\000036}}
a:hover {
  color: #51c761;
}
/* line 11, /home/bryan/Public/rme.local/assets/less/sme-theme.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bryan\/Public\/rme\.local\/assets\/less\/sme-theme\.less}line{font-family:\0000311}}
.btn-primary {
  background-color: #39b44a;
}
/* line 13, /home/bryan/Public/rme.local/assets/less/sme-theme.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bryan\/Public\/rme\.local\/assets\/less\/sme-theme\.less}line{font-family:\0000313}}
.btn-primary:hover {
  background-color: #51c761;
}
