.wide .modal-dialog {
	width: auto;
	max-width: 1040px;
}

.plan-modal .modal-body {
	background-color: #FFF;
}

.plan-modal .plans {
	margin: 50px 0px ;
}

.plan-modal h2 {
	margin: 10px 0 35px;
	font-weight: 300;
}

.plan-modal .plans .plan {
	border: 1px solid #EEE;
	padding-bottom: 20px;
}

.plan-modal footer {
	margin: 20px 0px;
}

.pill .discount {
	display: none;
}

.pill.active .discount {
	display: block;
	position: absolute;
	right: -24px;
	background-color: #18CD83;
	color: rgb(255, 255, 255);
	top: -19px;
	font-size: 12px;
	border-radius: 100%;
	width: 40px;
	height: 40px;
	line-height: 1.2;
	padding-top: 6px;
}

.plan figure {
	margin-bottom: 22px;
}

.plan h3 {
	color: #F5A623;
}

.plan-price {
	color: #B9B9B9;
	margin-bottom: 20px;
}

.plan .price {
	font-size: 26px;
	color: #666;
}

/*nav-pills*/
.nav-pills {
	display: inline-block;
}

.nav-pills .pill{
	float: left;
}

.nav-pills .pill a{
	display: block;
	padding: 10px;
	background-color: gray
}

.nav-pills > li + li {
  margin-left: 0px;
}

.nav-pills > li > a {
    border-radius: 0px;
}

.plan-modal .plans .plan.popular {
	border: medium none;
	position: relative;
	z-index: 999;
	box-shadow: 0px 0px 0px 4px #FAFEFD, 0px 0px 2px 5px rgba(0, 0, 0, 0.13);
	border-radius: 2px;
	background-color: rgba(24, 205, 131, 0.02);
}

.plan.popular h3{
	color: #18CD83;
	font-size: 30px;
}

.plan ul li {
	list-style: outside none none;
	color: #808080;
	padding: 5px 12px;
	text-align: left;
	font-size: 15px;
}

.btn-no-bg {
	border: 1px solid #22B2E2;
}

.btn-gray {
	color: #B9B9B9;
	border: 1px solid #B9B9B9;
}

.nav-pills {
	border-radius: 2px;
}

.nav-pills .pill a {
  padding: 10px 38px;
  background-color: #F6F6F6;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color: #B0B9BC;
}